﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="approvalControl.ascx.vb" Inherits="CONTRLS_approvalControl" %>
    <link href="../CSS/isms.css" rel="stylesheet" type="text/css" />
  <img src="Images/exe.gif" /><asp:Label ID="Label1" runat="server" ></asp:Label>