﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>ISMS系統首頁</title>
</head>
   
    <frameset rows="50,*"  frameborder="yes" border="0" framespacing="1">
	<frame name="Top" scrolling="no"   src="Top_Page.aspx" noresize>
	<frameset cols="300,*" frameborder="0" border="0">
		<frame name="Menu" scrolling="auto" target="Main" src="Menu_TreeView.aspx" style="width:300px"> 
		<frame name="Main" scrolling="auto" src="ISMS_000.aspx" >
	</frameset>
	<noframes>
	<body>

	<p>此網頁使用框架，但是您的瀏覽器不支援框架。</p>

	</body>
	</noframes>
</frameset>
    


</html>
