<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ISMS_30160.aspx.vb" Inherits="ISMS_30160" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>ゼ㏑</title>
    <link href="CSS/isms.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <br />
                <asp:HiddenField ID="Hidden_DP" runat="server" />

        <table id="Show_TB" class="tb_1" runat="server" style="width: 500px" cellpadding="0" cellspacing="0" visible="true">
            <tr>
                <td class="tb_title_w_2" colspan="5">
                    <img src="Images/exe.gif" />
                    繧蝶挪把计砞﹚
                </td>
            </tr>
            <tr>
                <td>
                    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" CssClass="tb_1"
                        Width="500px" HorizontalAlign="Left">
                        <Columns>
                            <asp:BoundField DataField="risk_cfvalue" HeaderText="繧把计">
                                <HeaderStyle CssClass="tb_title_w_1" />
                                <ItemStyle CssClass="tb_w_1" />
                            </asp:BoundField>
                            <asp:BoundField DataField="risk_cfdesc" HeaderText="把计弧">
                                <HeaderStyle CssClass="tb_title_w_1" />
                                <ItemStyle CssClass="tb_w_1" />
                            </asp:BoundField>
                            <asp:BoundField DataField="risk_cftype" HeaderText="把计摸絏">
                                <HeaderStyle CssClass="tb_title_w_1" />
                                <ItemStyle CssClass="tb_w_1" />
                            </asp:BoundField>
                            <asp:ButtonField ButtonType="Button" CommandName="Edit_Btn" Text="絪胯">
                                <HeaderStyle CssClass="tb_title_w_1" />
                                <ItemStyle CssClass="tb_w_1" />
                            </asp:ButtonField>
                        </Columns>
                    </asp:GridView>
                </td>
            </tr>
        </table>
    
    </div>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server"></asp:SqlDataSource>
        <table id="Edit_TB" runat="server" cellpadding="3" cellspacing="0" class="tb_1" style="width: 500px"
            visible="false">
            <tr>
                <td class="tb_title_w_2" colspan="6">
                    <img src="Images/exe.GIF" />
                    戈玻竤舱だ摸恨瞶
                    <asp:Button ID="Update_Btn" runat="server" CssClass="button-small" Text="絋﹚絪胯" />
                </td>
            </tr>
            <tr>
                <td class="tb_title_w_1" style="height: 26px">
                    繧把计*</td>
                <td class="tb_title_w_1" style="height: 26px">
                    把计弧</td>
            </tr>
            <tr>
                <td class="tb_w_1">
                    <asp:TextBox ID="risk_cfvalue" runat="server" Width="30px" MaxLength="3"></asp:TextBox>
                    <asp:RangeValidator ID="RangeValidator1" runat="server" ControlToValidate="risk_cfvalue"
                        ErrorMessage="叫块计1256" MaximumValue="256" MinimumValue="1" Display="None" Type="Integer"></asp:RangeValidator>
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="risk_cfvalue"
                        ErrorMessage="叫块繧把计"></asp:RequiredFieldValidator></td>
                <td class="tb_w_1">
                    <asp:TextBox ID="risk_cfdesc" runat="server" MaxLength="10" Width="100px"></asp:TextBox></td>
            </tr>
        </table>
        <asp:HiddenField ID="Hidden_risk_cftype" runat="server" />
        <cc1:ValidatorCalloutExtender ID="ValidatorCalloutExtender1" runat="server" TargetControlID="RangeValidator1"> 
        </cc1:ValidatorCalloutExtender>
        &nbsp; &nbsp;&nbsp;<asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    </form>
</body>
</html>
