﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Top_Page.aspx.vb" Inherits="Top_Page" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Logo_Page</title>
    <link href="CSS/isms.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <table width="100%" height="50"  border="0" cellpadding="0" cellspacing="0">
  <tr>

    <td valign="top" background="images/top_title_bg.jpg" ><table width="100%" height="50"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td  width="730"  valign="top" ><img src="images/top_title.jpg" alt="ISMS_LOGO"></img></td>
        <td valign="bottom"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="top_w_1"></td>
          </tr>
          <tr>

            <td class="top_w_2">
                <asp:Label ID="Login_Usr" runat="server"></asp:Label><asp:HyperLink ID="PwdLink" runat="server">[PwdLink]</asp:HyperLink><asp:HyperLink ID="Link_Label" runat="server">[Link_Label]</asp:HyperLink></td>
          </tr>
        </table>
            </td>
      </tr>
    </table></td>
  </tr>

</table>
    
    
   </div>
    </form>
</body>
</html>
