body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #FFFFFF;
	font-family: arial,verdana,sans-serif;
	
	
}

input.button-small		{ font-size: 8pt; }

a, a:link, a:visited {
	color: #0033CC;
	text-decoration: none;
	font-size: 9pt;
}

a:hover, a:active {
  color: #0066FF;
  text-decoration: underline;
}

.tb_space_0 {
}

.title_1 {
	background-image: url(/isms/images/index/title_bg.jpg);
	background-repeat: repeat;
	height: 55px;
	font-size: 16px;
	color: #506b90;
	padding-left: 75px;
	line-height: 55px;
	text-align: left;
}

.tb_1 {
	border: 1px solid #BBD2DB;
}

.tb_title_w_1 {
	font-size: 12px;
	line-height: 20px;
	color: #2666A6;
	text-decoration: none;
	background-color: #b8e1f1;
	letter-spacing: 2px;
	text-align: center;
	padding: 2px;
	border: 1px solid #BBD2DB;
}


.normal_font {
	font-size: 12px;
	line-height: 20px;
	color: #656B76;
}




.tb_title_w_2 {
	font-size: 12px;
	line-height: 20px;
	color: #2666A6;
	text-decoration: none;
	background-color: #FFFFFF;
	letter-spacing: 2px;
	text-align: left;
	padding: 2px;
	border: 1px solid #BBD2DB;
}


.tb_title_w_Right {
	font-size: 12px;
	line-height: 20px;
	color: #2666A6;
	text-decoration: none;
	background-color: #FFFFFF;
	letter-spacing: 2px;
	text-align: right;
	padding: 2px;
	border: 1px solid #BBD2DB;
}






.tb_w_1 {
	font-size: 12px;
	line-height: 20px;
	color: #656B76;
	text-decoration: none;
	text-align: center;
	padding-left: 5px;
	border: 1px solid #BBD2DB;
}

.tb_w_1_left {
	font-size: 12px;
	line-height: 20px;
	color: #656B76;
	text-decoration: none;
	text-align: left;
	padding-left: 5px;
	border: 1px solid #BBD2DB;
}

.icon_1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C4BFDD;
	border-right-color: #8078B6;
	border-bottom-color: #6157A2;
	border-left-color: #7A72B4;
	background-color: #9891C4;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
}

.top_w_1 {
	font-size: 12px;
	line-height: 20px;
	color: #fff8ae;
	text-decoration: none;
	text-align: right;
	vertical-align: middle;
	padding-right: 15px;
}

.top_w_2 {
	font-size: 12px;
	line-height: 20px;
	color: #21549a;
	text-decoration: none;
	text-align: right;
	vertical-align: middle;
	padding-right: 15px;
}

.login_txt {
	font-size: 8px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
	text-align: right;
	vertical-align: middle;
	padding-right: 15px;
}





